<% @microposts.each do |micropost| %>
<p> =================-</p>
<p>content:<%= micropost.content %></p>
<p>name:<%= micropost.user.name %></p>
<p> =================-</p>
<% end %>

<%= link_to "let's go write",p_new_path %>